**/.vs
**/.vscode
**/bin
**/obj
**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile*
**/*.md
**/.env
**/secrets.json
**/appsettings.Development.json
**/launchSettings.json
**/.editorconfig
**/*.user
**/*.suo
**/.idea
**/TestResults
**/coverage
**/wwwroot
CoreApiFundamentals.AppHost/
CoreCodeCamp.Tests/
